<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQL Lite connection

#### Install RSQLite package
The RSQlite  package needs to be installed in your notebook. Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [9]:
# Load required packages
install.packages("DBI")
install.packages("RSQLite")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

#### Load RSQLite
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous labs to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [1]:
library(DBI)
library(RSQLite)
library(readr)

In [2]:
# Create SQLite connection
conn <- dbConnect(RSQLite::SQLite(), "bike_sharing.db")

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [5]:
# Read CSVs
world_cities <- read_csv("world_cities.csv")
bike_sharing <- read_csv("bike_sharing_systems.csv")
weather_forecast <- read_csv("cities_weather_forecast.csv")
seoul_bike <- read_csv("seoul_bike_sharing.csv")

# Write tables to SQLite
dbWriteTable(conn, "WORLD_CITIES", world_cities, overwrite = TRUE)
dbWriteTable(conn, "BIKE_SHARING_SYSTEMS", bike_sharing, overwrite = TRUE)
dbWriteTable(conn, "CITIES_WEATHER_FORECAST", weather_forecast, overwrite = TRUE)
dbWriteTable(conn, "SEOUL_BIKE_SHARING", seoul_bike, overwrite = TRUE)
dbGetQuery(conn, "SELECT COUNT(*) FROM SEOUL_BIKE_SHARING")
dbGetQuery(conn, "SELECT COUNT(*) AS record_count FROM SEOUL_BIKE_SHARING")

Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): City, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, City, Name, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): CITY, WEATHER, SEASON
dbl  (8): VISIBILITY, TEMP, TEMP_MIN, TEMP_MAX, PRESSURE, HUMIDITY, WIND_SPE...
dttm (1): FORECAST_DATETIME

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): Date, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, Hour, TEMPERATURE, HUMIDITY, WIND_SPEED, Visibi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  COUNT(*)
1 8760

  record_count
1 8760

In [6]:
# provide your solution here
# Download files directly from URLs
download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv",
              destfile = "world_cities.csv")

download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv",
              destfile = "bike_sharing_systems.csv")

download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv",
              destfile = "seoul_bike_sharing.csv")

download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv",
              destfile = "cities_weather_forecast.csv")

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [7]:
# provide your solution here
dbGetQuery(conn, "
  SELECT COUNT(*) AS non_zero_hours
  FROM SEOUL_BIKE_SHARING
  WHERE RENTED_BIKE_COUNT > 0
")

  non_zero_hours
1 8465

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [8]:
# provide your solution here
dbGetQuery(conn, "
  SELECT DISTINCT SEASONS
  FROM SEOUL_BIKE_SHARING
")

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [9]:
# provide your solution here
dbGetQuery(conn, "
  SELECT MIN(DATE) AS first_date, MAX(DATE) AS last_date
  FROM SEOUL_BIKE_SHARING
")

  first_date last_date
1 01/01/2018 31/12/2017

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [10]:
# provide your solution here
dbGetQuery(conn, "
  SELECT DATE, HOUR, MAX(RENTED_BIKE_COUNT) AS max_rentals
  FROM SEOUL_BIKE_SHARING
  ORDER BY RENTED_BIKE_COUNT DESC
  LIMIT 1
")

  Date       Hour max_rentals
1 19/06/2018 18   3556

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [11]:
# provide your solution here
dbGetQuery(conn, "
  SELECT DATE, HOUR, MAX(RENTED_BIKE_COUNT) AS max_rentals
  FROM SEOUL_BIKE_SHARING
  ORDER BY RENTED_BIKE_COUNT DESC
  LIMIT 1
")

  Date       Hour max_rentals
1 19/06/2018 18   3556

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [12]:
# provide your solution here
dbGetQuery(conn, "
  SELECT SEASONS, HOUR,
         ROUND(AVG(TEMPERATURE), 2) AS AVG_TEMP,
         ROUND(AVG(RENTED_BIKE_COUNT), 2) AS AVG_RENTAL
  FROM SEOUL_BIKE_SHARING
  GROUP BY SEASONS, HOUR
  ORDER BY AVG_RENTAL DESC
  LIMIT 10
")

   SEASONS Hour AVG_TEMP AVG_RENTAL
1  Summer  18   29.42    2135.14
2  Autumn  18   16.34    1983.33
3  Summer  19   28.29    1889.25
4  Summer  20   27.07    1801.92
5  Summer  21   26.28    1754.07
6  Spring  18   15.99    1689.31
7  Summer  22   25.70    1567.87
8  Autumn  17   17.59    1562.88
9  Summer  17   30.15    1526.29
10 Autumn  19   15.37    1515.57

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [13]:
# provide your solution here
dbGetQuery(conn, "
  SELECT SEASONS,
         ROUND(AVG(RENTED_BIKE_COUNT), 2) AS AVG_RENTALS,
         MIN(RENTED_BIKE_COUNT) AS MIN_RENTALS,
         MAX(RENTED_BIKE_COUNT) AS MAX_RENTALS,
         ROUND(SQRT(AVG(RENTED_BIKE_COUNT * RENTED_BIKE_COUNT) - AVG(RENTED_BIKE_COUNT) * AVG(RENTED_BIKE_COUNT)), 2) AS STD_DEV
  FROM SEOUL_BIKE_SHARING
  GROUP BY SEASONS
")

  SEASONS AVG_RENTALS MIN_RENTALS MAX_RENTALS STD_DEV
1 Autumn   924.11     2           3298        617.39
2 Spring   746.25     2           3251        618.52
3 Summer  1034.07     9           3556        690.09
4 Winter   225.54     3            937        150.34

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [14]:
# provide your solution here
dbGetQuery(conn, "
  SELECT SEASONS,
         ROUND(AVG(TEMPERATURE), 2) AS AVG_TEMP,
         ROUND(AVG(HUMIDITY), 2) AS AVG_HUMIDITY,
         ROUND(AVG(WIND_SPEED), 2) AS AVG_WIND,
         ROUND(AVG(VISIBILITY), 2) AS AVG_VISIBILITY,
         ROUND(AVG(DEW_POINT_TEMPERATURE), 2) AS AVG_DEW,
         ROUND(AVG(SOLAR_RADIATION), 2) AS AVG_SOLAR,
         ROUND(AVG(RAINFALL), 2) AS AVG_RAIN,
         ROUND(AVG(SNOWFALL), 2) AS AVG_SNOW,
         ROUND(AVG(RENTED_BIKE_COUNT), 2) AS AVG_BIKES
  FROM SEOUL_BIKE_SHARING
  GROUP BY SEASONS
  ORDER BY AVG_BIKES DESC
")

  SEASONS AVG_TEMP AVG_HUMIDITY AVG_WIND AVG_VISIBILITY AVG_DEW AVG_SOLAR
1 Summer  26.59    64.98        1.61     1501.75         18.75  0.76
2 Autumn  14.12    59.23        1.49     1560.75          5.50  0.52
3 Spring  13.05    58.78        1.87     1240.36          4.12  0.69
4 Winter  -2.54    49.74        1.92     1445.99        -12.42  0.30
  AVG_RAIN AVG_SNOW AVG_BIKES
1 0.25     0.00     1034.07
2 0.12     0.06      924.11
3 0.18     0.00      746.25
4 0.03     0.25      225.54

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [23]:
# provide your solution here
dbGetQuery(conn, "
  SELECT W.CITY, W.COUNTRY, W.LAT, W.LNG, W.POPULATION,
         SUM(CAST(B.BICYCLES AS INT)) AS TOTAL_BIKES
  FROM WORLD_CITIES W
  JOIN BIKE_SHARING_SYSTEMS B
    ON W.CITY = B.CITY
  WHERE W.CITY = 'Seoul'
  GROUP BY W.CITY, W.COUNTRY, W.LAT, W.LNG, W.POPULATION
")

     City COUNTRY LAT LNG POPULATION TOTAL_BIKES

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [26]:
# provide your solution here
dbGetQuery(conn, "
  SELECT W.CITY, W.COUNTRY, W.LAT, W.LNG, W.POPULATION,
         CAST(B.BICYCLES AS INT) AS BICYCLES
  FROM WORLD_CITIES W
  JOIN BIKE_SHARING_SYSTEMS B
    ON W.CITY = B.CITY
  WHERE CAST(B.BICYCLES AS INT) BETWEEN 15000 AND 20000
")

  City    COUNTRY LAT     LNG      POPULATION BICYCLES
1 Beijing China   39.9050 116.3914 19433000   16000
2 Ningbo  China   29.8750 121.5492  7639000   15000
3 Weifang China   36.7167 119.1000  9373000   20000
4 Zhuzhou China   27.8407 113.1469  3855609   20000

In [28]:
close(conn)

ERROR: Error in UseMethod("close"): no applicable method for 'close' applied to an object of class "c('SQLiteConnection', 'DBIConnection', 'DBIObject')"

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

<!--## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |-->

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>